.nav__top {
    position: sticky;
    top: 0;
    left:0;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(lightgrey, .5);
    
    @media screen and (min-width: 560px) {
        justify-content: center;
        gap: 50px;
    }
    

    .title__wrap {
        position: relative;
        cursor: pointer;
        
        .title__hover-wrap {
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            color: $primaryColor;
            text-shadow: $primaryColor;
            text-shadow: -0.5px -0.5px 0 $primaryColor, .5px -0.5px 0 $primaryColor, -0.5px .5px 0 $primaryColor, .5px .5px 0 $primaryColor;
            overflow: hidden;
            transition: height .5s ease;
        }

        &:hover {
            .title__hover-wrap {
                height: 100%;
                transition: height .5s ease;
            }
        }
    }
}