@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
.app {
  margin: 0 auto;
}

.nav .nav__hamburger {
  height: 20px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 670px) {
  .nav .nav__hamburger {
    display: none;
  }
}
.nav .nav__hamburger .hamburger-part {
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.nav .nav__hamburger__top {
  transform: translateY(0) rotate(0);
  transition: transform 0.15s ease-in-out;
}
.nav .nav__hamburger__middle {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
.nav .nav__hamburger__bottom {
  transform: translateY(0) rotate(0);
  transition: transform 0.15s ease-in-out;
}
.nav .nav__menu {
  height: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  color: #fff;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .nav .nav__menu {
    background-color: rgba(211, 211, 211, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
.nav .nav__menu ul {
  margin: 0 auto;
  width: 100px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}
.nav .nav__menu ul li {
  text-align: center;
  position: relative;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.nav .nav__menu ul li a {
  border-radius: 10px;
  padding: 5px 10px;
  height: 100%;
  display: block;
}
.nav .nav__menu ul li:after {
  content: "";
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 183, 255);
  transition: width 0.3s ease;
}
.nav .nav__menu ul li:hover:after {
  width: 100%;
  transition: width 0.3s ease;
}
@media screen and (min-width: 670px) {
  .nav .nav__menu {
    background: none;
    position: inherit;
    height: 100%;
    width: 500px;
  }
  .nav .nav__menu ul {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .nav .nav__menu {
    width: 600px;
    padding-left: 100px;
  }
}
.nav.opened {
  overflow: hidden;
}
.nav.opened .nav__menu {
  transition: all 0.3s ease-in-out;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media screen and (max-width: 669px) {
  .nav.opened .nav__menu {
    padding-top: 100px;
  }
}
.nav.opened .nav__hamburger .hamburger__top {
  transform: translateY(450%) rotate(-45deg);
  transition: transform 0.15s ease-in-out;
}
.nav.opened .nav__hamburger .hamburger__middle {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.nav.opened .nav__hamburger .hamburger__bottom {
  transform: translateY(-450%) rotate(45deg);
  transition: transform 0.15s ease-in-out;
}

.nav__top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.95);
  z-index: 20;
}
@media screen and (min-width: 670px) {
  .nav__top {
    justify-content: center;
    gap: 50px;
  }
}
.nav__top .title__wrap {
  position: relative;
  cursor: pointer;
}
.nav__top .title__wrap .title__hover-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  color: rgb(0, 183, 255);
  text-shadow: rgb(0, 183, 255);
  text-shadow: -0.5px -0.5px 0 rgb(0, 183, 255), 0.5px -0.5px 0 rgb(0, 183, 255), -0.5px 0.5px 0 rgb(0, 183, 255), 0.5px 0.5px 0 rgb(0, 183, 255);
  overflow: hidden;
  transition: height 0.5s ease;
}
.nav__top .title__wrap:hover .title__hover-wrap {
  height: 100%;
  transition: height 0.5s ease;
}

.about__wrap {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
.about__wrap .about__name {
  margin: 0 auto 30px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}
.about__wrap .container--flex {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .about__wrap .container--flex {
    gap: 100px;
    margin-top: 50px;
  }
}
.about__wrap .container--flex .about__main-photo {
  height: 250px;
  min-width: 250px;
  background-image: url("/src/images/my-photo.jpeg");
  background-size: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-animation: movein 1s;
          animation: movein 1s;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .about__wrap .container--flex .about__main-photo {
    height: 350px;
    min-width: 350px;
    background-size: 27rem;
  }
}
.about__wrap .container--flex .about__content {
  max-width: 450px;
  text-align: center;
}
.about__wrap .container--flex .about__content .content__buttons-wrap {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 570px) {
  .about__wrap .container--flex .about__content {
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .about__wrap .container--flex .about__content {
    max-width: 650px;
    font-size: 18px;
  }
}

.skills__wrap {
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .skills__wrap {
    padding-left: 20px;
    padding-right: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
}
.skills__wrap .skills__carousel {
  display: flex;
  width: 100%;
  gap: 50px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
@media screen and (max-width: 499px) {
  .skills__wrap .skills__carousel {
    padding-left: calc((100vw - 320px) / 2 - 20px);
    padding-right: calc((100vw - 320px) / 2 - 20px);
  }
}
@media screen and (min-width: 1024px) {
  .skills__wrap .skills__carousel {
    gap: 30px;
  }
}
.skills__wrap .skills__carousel .skills__card {
  display: flex;
  padding: 15px;
  min-height: 350px;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 0;
  cursor: default;
}
.skills__wrap .skills__carousel .skills__card svg {
  height: 300px;
  width: 300px;
  opacity: 1;
  z-index: -1;
  transition: opacity 1s ease;
}
.skills__wrap .skills__carousel .skills__card.--react path, .skills__wrap .skills__carousel .skills__card.--react g {
  fill: #61dafb;
}
@media screen and (min-width: 1024px) {
  .skills__wrap .skills__carousel .skills__card p {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease;
  }
  .skills__wrap .skills__carousel .skills__card:hover svg {
    opacity: 0.3;
    transition: opacity 1s ease;
  }
  .skills__wrap .skills__carousel .skills__card:hover p {
    opacity: 1;
    transition: opacity 1s ease;
  }
}
.skills__wrap .swipe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 1400px) {
  .skills__wrap .swipe {
    display: none;
  }
}
.skills__wrap .swipe .swipe__arrow {
  display: flex;
  align-items: center;
  -webkit-animation: arrow 1s infinite;
          animation: arrow 1s infinite;
}
.skills__wrap .swipe .swipe__arrow .arrow__body {
  height: 4px;
  width: 40px;
  background-color: rgb(0, 183, 255);
  border-radius: 3px;
}
.skills__wrap .swipe .swipe__arrow .arrow__head .head__part {
  height: 4px;
  width: 20px;
  background-color: rgb(0, 183, 255);
  border-radius: 3px;
}
.skills__wrap .swipe .swipe__arrow .arrow__head .head__part.--top {
  transform: translateY(-2.5px) rotate(30deg);
}
.skills__wrap .swipe .swipe__arrow .arrow__head .head__part.--bottom {
  transform: translateY(2.5px) rotate(-30deg);
}
.skills__wrap .swipe .swipe__text {
  margin-top: 10px;
  text-align: right;
}

@-webkit-keyframes arrow {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(1px);
  }
}
@-webkit-keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.experience__wrap {
  max-width: 100%;
}
@media screen and (min-width: 360px) {
  .experience__wrap {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.experience__wrap .experience__main-text, .experience__wrap .experience__aside-text {
  text-align: center;
}
.experience__wrap .experience__main-text .desktop, .experience__wrap .experience__aside-text .desktop {
  display: none;
}
.experience__wrap .experience__aside-text {
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .experience__wrap .experience {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 0 calc((100vw - 1500px) / 2);
  }
  .experience__wrap .experience__main-text {
    text-align: right;
  }
  .experience__wrap .experience__main-text .desktop {
    display: block;
    margin-top: 30px;
    color: rgb(0, 183, 255);
    font-weight: 600;
    text-align: right;
  }
  .experience__wrap .experience__aside-text {
    text-align: left;
    margin-top: 0;
  }
}
@media screen and (min-width: 660px) {
  .experience__wrap .experience .text-wrap {
    font-size: 22px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .experience__wrap .experience .text-wrap {
    min-height: 210px;
  }
}
.experience__wrap h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  color: rgb(0, 183, 255);
}
@media screen and (max-width: 1076px) {
  .experience__wrap h3 {
    margin-top: 20px;
  }
}
.experience__wrap .mobile {
  display: block;
}
@media screen and (min-width: 1024px) {
  .experience__wrap .mobile {
    display: none;
  }
}

.github__wrap {
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .github__wrap {
    padding-left: 20px;
    padding-right: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
}
.github__wrap .projects__carousel {
  display: flex;
  width: 100%;
  gap: 50px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
@media screen and (max-width: 499px) {
  .github__wrap .projects__carousel {
    padding-left: calc((100vw - 320px) / 2 - 20px);
    padding-right: calc((100vw - 320px) / 2 - 20px);
  }
}
@media screen and (min-width: 1024px) {
  .github__wrap .projects__carousel {
    gap: 30px;
  }
}
.github__wrap .projects__carousel .projects__card {
  display: flex;
  padding: 15px;
  min-height: 350px;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.github__wrap .projects__carousel .projects__card a {
  cursor: pointer;
  color: rgb(0, 183, 255);
}
.github__wrap .projects__carousel .projects__card .preview-image {
  width: 279px;
  height: 277px;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 8px;
  overflow: hidden;
}
.github__wrap .projects__carousel .projects__card .preview-image img {
  height: 100%;
  width: 100%;
}
.github__wrap .projects__carousel .projects__card .preview-coming-soon {
  width: 279px;
  height: 277px;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
}
.github__wrap .projects__carousel .projects__card .preview-coming-soon::after {
  content: "Coming soon!";
  white-space: nowrap;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.github__wrap .projects__carousel .projects__card .preview-in-progress {
  width: 279px;
  height: 277px;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.github__wrap .projects__carousel .projects__card .preview-in-progress img {
  height: 100%;
  width: 100%;
}
.github__wrap .projects__carousel .projects__card .preview-in-progress::after {
  content: "In progress";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.7);
}
.github__wrap .swipe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 1400px) {
  .github__wrap .swipe {
    display: none;
  }
}
.github__wrap .swipe .swipe__arrow {
  display: flex;
  align-items: center;
  -webkit-animation: arrow 1s infinite;
          animation: arrow 1s infinite;
}
.github__wrap .swipe .swipe__arrow .arrow__body {
  height: 4px;
  width: 40px;
  background-color: rgb(0, 183, 255);
  border-radius: 3px;
}
.github__wrap .swipe .swipe__arrow .arrow__head .head__part {
  height: 4px;
  width: 20px;
  background-color: rgb(0, 183, 255);
  border-radius: 3px;
}
.github__wrap .swipe .swipe__arrow .arrow__head .head__part.--top {
  transform: translateY(-2.5px) rotate(30deg);
}
.github__wrap .swipe .swipe__arrow .arrow__head .head__part.--bottom {
  transform: translateY(2.5px) rotate(-30deg);
}
.github__wrap .swipe .swipe__text {
  margin-top: 10px;
  text-align: right;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(1px);
  }
}
@keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact__wrap {
  padding-left: 35px;
  padding-right: 35px;
}
.contact__wrap .contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.contact__wrap .contact__form .text-input {
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  background: none;
  border: 1px solid rgb(0, 183, 255);
  color: #fff;
}
.contact__wrap .contact__form textarea {
  height: 150px;
  width: 100%;
}
.contact__wrap .contact__form .submit-btn {
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .contact__wrap .contact__form .submit-btn {
    padding: 10px 15px;
    font-size: 20px;
    align-self: flex-end;
  }
}
.contact__wrap .contact__socials {
  text-align: center;
}
.contact__wrap .contact__socials .icons {
  padding: 0 50px;
  margin: 10px 0;
  width: 100%;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact__wrap .contact__socials .icons .linkedin-icon {
  transition: transform 0.3s ease;
}
.contact__wrap .contact__socials .icons .linkedin-icon:hover {
  color: #0e76a8;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
.contact__wrap .contact__socials .icons .github-icon {
  transition: transform 0.3s ease;
}
.contact__wrap .contact__socials .icons .github-icon:hover {
  color: #171515;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1024px) {
  .contact__wrap {
    display: flex;
    justify-content: center;
    gap: 150px;
  }
  .contact__wrap .contact__socials {
    text-align: center;
  }
  .contact__wrap .contact__socials h3 {
    font-size: 45px;
  }
  .contact__wrap .contact__socials .icons {
    font-size: 50px;
    gap: 30px;
    margin-top: 30px;
  }
  .contact__wrap .contact__form {
    padding: 0;
    height: 350px;
    width: 400px;
  }
  .contact__wrap .contact__form .text-input {
    max-width: 100%;
    padding: 10px 15px;
  }
  .contact__wrap .contact__form textarea {
    height: 200px;
  }
}

.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  height: 104%;
  width: 104%;
  transform: translate(-2%, -2%);
}

.hidden {
  display: none;
}

.footer__wrap {
  padding: 20px 35px;
  text-align: center;
}
.footer__wrap span {
  display: block;
  margin-top: 15px;
}
@media screen and (min-width: 1024px) {
  .footer__wrap {
    padding: 50px 250px;
    font-size: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.8);
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

section {
  padding-top: 60px;
}

.btn {
  display: block;
  padding: 8px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 1.2em;
  color: #ffffff;
  background-color: rgb(0, 183, 255);
  border: 1px solid rgb(0, 183, 255);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.3s ease-in-out;
  background: none;
  color: rgb(0, 183, 255);
}

.btn--inverted {
  display: block;
  padding: 8px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: rgb(0, 183, 255);
  font-weight: 700;
  font-size: 1.2em;
  background: none;
  border: 1px solid rgb(0, 183, 255);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn--inverted:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 183, 255);
  color: #fff;
}

.container--flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .container--flex {
    flex-direction: row;
  }
}

h1 {
  font-size: 32px;
}
@media screen and (min-width: 570px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 30px;
  margin: 30px auto;
  text-align: center;
}
@media screen and (min-width: 570px) {
  h2 {
    font-size: 38px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 46px;
  }
}

input, textarea {
  border: none;
  outline: none;
}

textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
}/*# sourceMappingURL=index.css.map */