@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
.app {
  position: relative;
}
.app .go-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none;
  border: 1px solid rgb(0, 183, 255);
  background: rgba(15, 15, 15, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 40px;
  height: 40px;
  z-index: 9999;
  color: rgb(0, 183, 255);
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.build-in-progress {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .build-in-progress h1 {
    font-size: 20px;
    text-align: center;
  }
}
.build-in-progress .gif {
  background-image: url("/src/assets/images/typing-cat.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .build-in-progress .gif {
    height: 500px;
    width: 500px;
  }
}
.build-in-progress .btn {
  padding: 10px 15px;
  background: none;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
.build-in-progress .btn:hover {
  border-radius: 12px;
  transition: 0.3s ease;
}
.build-in-progress.hide {
  opacity: 0;
  transition: 1s ease;
}

@media screen and (min-width: 1024px) {
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 95, 95, 0.8);
  }
}
.main-nav__list {
  height: 100%;
  width: 100%;
  text-align: right;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .main-nav__list {
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
}
.main-nav__list .item {
  padding: 10px;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .main-nav__list .item:after {
    content: "";
    position: absolute;
    height: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    background: rgb(0, 183, 255);
    transition: height 0.3s ease;
  }
  .main-nav__list .item:hover:after {
    content: "";
    position: absolute;
    height: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    background: rgb(0, 183, 255);
    transition: height 0.3s ease;
  }
}
.main-nav__list .item.active {
  color: red;
}

.welcome-section {
  display: flex;
}
.welcome-section__photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 100px;
}
@media screen and (min-width: 1024px) {
  .welcome-section__photo .photo-title {
    font-size: 40px;
  }
}
.welcome-section__photo .photo {
  background-image: url("/src/assets/images/my-photo.jpeg");
  height: 250px;
  min-width: 250px;
  background-size: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-animation: movein 1s;
          animation: movein 1s;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .welcome-section__photo .photo {
    height: 350px;
    min-width: 350px;
    background-size: 27rem;
  }
}
.welcome-section__desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
.welcome-section__desc span {
  font-size: 24px;
}

.cursor {
  line-height: 100%;
  height: 100%;
}

.about-section {
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}
.about-section .side {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
  line-height: 30px;
}
.about-section .side.left {
  justify-content: space-between;
  text-align: center;
  padding: 0 20px 20px 20px;
  line-height: 30px;
}
.about-section .side.left h2 {
  line-height: 40px;
}
.about-section .side.left span {
  font-weight: bold;
  cursor: pointer;
}
.about-section .side.left span:hover {
  color: rgb(0, 183, 255);
}
.about-section .side.right h2 {
  line-height: 40px;
  text-align: center;
}
.about-section .side.right .tiles-wrapper {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}
.about-section .side.right .tiles-wrapper .tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section .side.right .tiles-wrapper .tile:nth-child(2n+1) {
  border-right: 1px solid rgb(0, 183, 255);
}
.about-section .side.right .tiles-wrapper .tile:nth-child(1), .about-section .side.right .tiles-wrapper .tile:nth-child(2) {
  border-bottom: 1px solid rgb(0, 183, 255);
}
.about-section .side.right .tiles-wrapper .tile-icons {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  font-size: 30px;
}
.about-section .side.right .tiles-wrapper .tile-title {
  margin-top: 40px;
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.about-section .side.right .tiles-wrapper .tile-content {
  line-height: 24px;
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
}

.game-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.game-container .card-reveal-game {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.game-container .card-reveal-game__row {
  display: flex;
  gap: 10px;
}
.game-container .card-reveal-game__row .card {
  height: 80px;
  width: 80px;
  border: 1px solid rgb(0, 183, 255);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.game-container .card-reveal-game__row .card__image {
  padding: 5px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.game-container .card-reveal-game__winning-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: rgba(47, 47, 47, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.game-container .card-reveal-game__winning-screen .win-alert {
  text-align: center;
  font-size: 26px;
}
.game-container .card-reveal-game__winning-screen .restart-button {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: none;
  color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
  border-radius: 8px;
  cursor: pointer;
}
.game-container .card-reveal-game__winning-screen .restart-button:hover {
  color: #0f0f0f;
  background: rgb(0, 183, 255);
}

.skills-section .top-row {
  display: flex;
  align-items: center;
}
.skills-section .top-row .game-description {
  padding: 0px 10px 0px 10px;
  line-height: 50px;
  font-size: 24px;
}
.skills-section .bottom-row {
  padding: 5px 20px 20px 20px;
}
.skills-section .bottom-row .rain {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
.skills-section .bottom-row .rain .raindrop {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-animation: rainAnimation 0.4s;
          animation: rainAnimation 0.4s;
}
.skills-section .bottom-row .rain .raindrop__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-section .bottom-row .rain .raindrop__image img {
  height: 60px;
  width: 60px;
}
.skills-section .bottom-row .rain .raindrop .dynamic-text__container {
  width: 80%;
}
.skills-section .bottom-row .rain .raindrop .dynamic-text__container .text {
  font-size: 14px;
  line-height: 25px;
}
.skills-section .bottom-row .rain .raindrop .dynamic-text__container .text .cursor {
  font-size: 16px;
}

@-webkit-keyframes rainAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rainAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pictureAnimation {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
@keyframes pictureAnimation {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
.projects-section .title {
  width: 50%;
  margin: auto;
  text-align: center;
}
.projects-section .content {
  display: flex;
}
.projects-section .content .projects-list {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 100px;
}
.projects-section .content .main-project {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.project-card__title {
  font-size: 24px;
  position: relative;
}
.project-card__title:after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: rgb(0, 183, 255);
  transition: 0.3s ease;
}
.project-card__title:hover:after {
  width: 100%;
  transition: 0.3s ease;
}
.project-card__content-wrapper {
  height: 200px;
  width: 175px;
  position: relative;
}
.project-card__content-wrapper .project-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-animation: switchBack 1s ease;
          animation: switchBack 1s ease;
  cursor: pointer;
}
.project-card__content-wrapper .project-image img {
  height: 100%;
  width: 100%;
}
.project-card__content-wrapper .project-image.animated {
  -webkit-animation: switch 1s ease;
          animation: switch 1s ease;
}
.project-card__content-wrapper .project-tech {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  background: rgba(15, 15, 15, 0.3);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-animation: switchReverseBack 1s ease;
          animation: switchReverseBack 1s ease;
  cursor: pointer;
}
.project-card__content-wrapper .project-tech.animated {
  -webkit-animation: switchReverse 1s ease;
          animation: switchReverse 1s ease;
}

@-webkit-keyframes switch {
  0% {
    top: 0;
  }
  50% {
    top: -50%;
  }
  100% {
    top: 0;
  }
}

@keyframes switch {
  0% {
    top: 0;
  }
  50% {
    top: -50%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes switchReverse {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
@keyframes switchReverse {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes switchBack {
  0% {
    top: 0;
  }
  50% {
    top: -50%;
  }
  100% {
    top: 0;
  }
}
@keyframes switchBack {
  0% {
    top: 0;
  }
  50% {
    top: -50%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes switchReverseBack {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
@keyframes switchReverseBack {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.contact-section .contact__form .text-input {
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  background: none;
  border: 1px solid rgb(0, 183, 255);
  border-radius: 8px;
  color: #fff;
}
.contact-section .contact__form textarea {
  height: 150px;
  width: 100%;
  resize: none;
}
.contact-section .contact__form .submit-btn {
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .contact-section .contact__form .submit-btn {
    padding: 10px 15px;
    font-size: 20px;
    align-self: flex-end;
    cursor: pointer;
  }
}
.contact-section .contact__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .contact__socials .download-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 183, 255);
  transition: 0.3s ease;
}
.contact-section .contact__socials .download-btn:hover {
  transition: 0.3s ease;
  border-radius: 20px;
}
.contact-section .contact__socials .icons {
  padding: 0 50px;
  margin: 10px 0;
  width: 100%;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-section .contact__socials .icons .linkedin-icon__wrap {
  position: relative;
}
.contact-section .contact__socials .icons .linkedin-icon__wrap .linkedin-icon {
  transition: transform 0.3s ease;
}
.contact-section .contact__socials .icons .linkedin-icon__wrap .linkedin-icon:hover {
  color: #0e76a8;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
.contact-section .contact__socials .icons .github-icon {
  transition: transform 0.3s ease;
}
.contact-section .contact__socials .icons .github-icon:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1024px) {
  .contact-section {
    display: flex;
    justify-content: center;
    gap: 150px;
  }
  .contact-section .contact__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-section .contact__socials h3 {
    font-size: 45px;
  }
  .contact-section .contact__socials .icons {
    font-size: 50px;
    gap: 30px;
    margin-top: 30px;
  }
  .contact-section .contact__form {
    padding: 0;
    height: 350px;
    width: 400px;
  }
  .contact-section .contact__form .text-input {
    max-width: 100%;
    padding: 10px 15px;
  }
  .contact-section .contact__form textarea {
    height: 200px;
  }
}

.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  height: 104%;
  width: 104%;
  transform: translate(-2%, -2%);
}

.hidden {
  display: none;
}

.photo-gallery {
  display: flex;
  align-items: center;
  gap: 50px;
}
.photo-gallery .photo {
  height: 500px;
  width: 800px;
}
.photo-gallery .photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.photo-gallery .button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}
.photo-gallery .button.left:before {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  height: 4px;
  background: #2f2f2f;
  width: 78%;
  transform: rotate(-45deg);
}
.photo-gallery .button.left:after {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 0;
  height: 4px;
  background: #2f2f2f;
  width: 78%;
  transform: rotate(45deg);
}
.photo-gallery .button.left:hover:before, .photo-gallery .button.left:hover:after {
  background: rgb(0, 183, 255);
}
.photo-gallery .button.right:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  height: 4px;
  background: #2f2f2f;
  width: 78%;
  transform: rotate(45deg);
}
.photo-gallery .button.right:after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  height: 4px;
  background: #2f2f2f;
  width: 78%;
  transform: rotate(-45deg);
}
.photo-gallery .button.right:hover:before, .photo-gallery .button.right:hover:after {
  background: rgb(0, 183, 255);
}

.preview-wrap {
  margin-top: 50px;
}
.preview-wrap .preview-title {
  text-align: center;
  margin-bottom: 20px;
}
.preview-wrap .preview-photo {
  max-height: 300px;
  max-width: 450px;
  cursor: pointer;
}
.preview-wrap .preview-photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.preview-wrap .preview-gallery {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.preview-wrap .gallery-blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1;
}
.preview-wrap .gallery-blur .close-btn {
  position: absolute;
  top: 50px;
  right: 80px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.preview-wrap .gallery-blur .close-btn:before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2f2f2f;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.preview-wrap .gallery-blur .close-btn:after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2f2f2f;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}
.preview-wrap .gallery-blur .close-btn:hover:before, .preview-wrap .gallery-blur .close-btn:hover:after {
  background-color: rgb(0, 183, 255);
}
.preview-wrap .preview-desc {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.preview-wrap .preview-desc .tech:before {
  content: "-> ";
}

.experience-section {
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}
.experience-section__title {
  font-size: 35px;
}
.experience-section .subsection {
  width: 450px;
}
.experience-section .subsection .items-wrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.experience-section .subsection__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.experience-section .subsection__item {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 32px;
  margin-left: 15px;
}

.arrow {
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.text {
  line-height: 36px;
  position: relative;
}
.text .cursor {
  font-size: 25px;
  margin-left: -5px;
}
.text .cursor.blink {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.section {
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .section {
    width: calc(100% - 270px);
  }
}/*# sourceMappingURL=index.css.map */